body {
  height: 3840px;
  width: 1360px;
  margin: 0;

  padding-left: 126px;
  padding-right: 124px;
  padding-top: 61px;

  font-family: Muli;
  font-style: normal;
  font-weight: normal;
}
/* --------------------------------------------------------header */
header,
footer {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-left: 29px;

  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  letter-spacing: -0.346154px;

  color: #111111;
}

li:hover {
  font-size: 24px;
  color: rgb(138, 138, 143);
  cursor: grab;
}
/* --------------------------------------------------------title */

.text-top {
  padding-bottom: 144px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  width: 635px;
  height: 251px;
  margin-top: 96px;
}

.titleblue {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
}

.title-black {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #111111;
}

.titleblue--big {
  font-size: 40px;
  line-height: 60px;
}

.quote-border {
  width: 30px;
  height: 2px;
  background: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.right-quote {
  padding-right: 74px;
}

.quote {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #111111;

  mix-blend-mode: normal;
  opacity: 0.6;
}

/* ----------------------------------------------------------------------grid-container */

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 23px;
}

/* -------------------------first column */

.dancing {
  grid-area: 1/1/8/4;
  width: 100%;
}

.ballon {
  grid-area: 8/1/16/4;
  width: 100%;
}

.moon {
  grid-area: 16/1/24/4;
  width: 100%;
}

.flowers {
  grid-area: 24/1/33/4;
  width: 100%;
}

/* -------------------------second column */

.thinking {
  grid-area: 1/4/7/7;
  width: 100%;
}

.statue {
  grid-area: 7/4/14/7;
  width: 100%;
}

.walking {
  grid-area: 14/4/23/7;
  width: 100%;
}

.sunset {
  grid-area: 23/4/33/7;
  width: 100%;
}

/* -------------------------third column */

.sleeping {
  grid-area: 1/7/11/10;
  width: 100%;
}

.silver {
  grid-area: 11/7/18/10;
  width: 100%;
}

.piano {
  grid-area: 18/7/27/10;
  width: 100%;
}

.green {
  grid-area: 27/7/33/10;
  width: 100%;
}

/* ----------------------------------------------------------------------text-bottom */

.text-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 91px;
  margin-bottom: 151px;
}

.heading-bottom {
  width: 635px;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
  margin: 0;
}

.table-grey {
  width: 349px;
  padding-top: 8px;
}
.tabletada {
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.tabledata--small {
  font-size: 18px;
  line-height: 23px;
}

/* ----------------------------------------------------------------------award */

.award {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* grid-row-gap: 20px;
  grid-column-gap: 23px; */
}

.mainheading {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
}

.heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  text-align: end;
}

.smallheading {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: end;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: rgba(17, 17, 17, 0.6);
  mix-blend-mode: normal;
  text-align: end;
  text-align: left;
  padding-right: 38px;
}

.year {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: end;
}

/* -------grid award-------- */

/* -- first column --*/
.mainheading--1 {
  grid-area: 1/1/2/3;
}

.mainheading--2 {
  grid-area: 6/1/7/4;
}
/* -- second column --*/
.heading--1 {
  grid-area: 1/6/2/8;
}

.heading--2 {
  grid-area: 3/6/4/8;
}

.heading--3 {
  grid-area: 6/6/7/8;
}

.heading--4 {
  grid-area: 8/6/9/8;
}
/* -- third column --*/
.text--1 {
  grid-area: 1/9/3/11;
}

.text--2 {
  grid-area: 3/9/5/11;
}

.text--3 {
  grid-area: 6/9/8/11;
}

.text--4 {
  grid-area: 8/9/10/11;
}
/* -- fourth column --*/
.year--1 {
  grid-area: 1/12/2/13;
}

.year--2 {
  grid-area: 3/12/4/13;
}

.year--3 {
  grid-area: 6/12/7/13;
}

.year--4 {
  grid-area: 8/12/9/13;
}

/* --------------------------------------------------------------------footer */

nav {
  display: flex;
  margin-bottom: 44px;
}

.logos {
  margin-left: 95px;
  margin-top: 14px;
}

.footerlogo {
  margin-left: 23px;
  min-width: 18px;
  min-height: 15px;
}
